* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    331deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(81, 92, 167, 1) 23%,
    rgba(26, 26, 62, 1) 100%
  );
  min-height: 150vh;
}

/* Header section */

.header-container {
  width: 100%;
}

.header-container .nav-container {
  margin: 1rem;
  max-width: 50%;
}

.header-container .nav-container .bg-menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
}

.header-container .nav-container .nav-item {
  margin: 8px;
}

.header-container .nav-container .nav-item .nav-link {
  color: #ffff;
  padding: 0 15px;
  text-decoration: none;
  position: relative;
}

.header-container .nav-container .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2.5px;
  background-color: #bc0b0b;
  bottom: -3px;
  left: 0;
  transition: width 0.3s ease;
}

.header-container .nav-container .nav-item .nav-link:hover::after {
  width: 100%;
}
/* Main section */

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.main-container .title {
  display: grid;
  margin-bottom: 30%;
}

.main-container .title span,
.main-container .title p {
  color: #ffff;
}
.main-container .title span {
  font-size: 2rem;
}

.main-container .title p {
  font-size: 4rem;
}

.main-container .profile {
  display: flex;
  margin-top: 15%;
}

.main-container .profile img {
  width: 20rem;
  border: 5px solid;
  border-radius: 100%;
}

.main-container .profile .skills {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 2rem;
}

.main-container .profile .skills span {
  background-color: #303030;
  border: 1px solid #151515;
  border-radius: 10px;
  box-shadow: 0 0 80px;
  color: #909090;
  padding: 0.6rem;
  margin: 1rem;
  position: relative;
}
